* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

#container {
  width: 644px;
  height: 644px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}
.square {
  border: 1px solid #ddd;
   opacity: 0;
}